ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-content{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}
a, h3{
    color: #fff;
}
.logo{
    max-width: 100px;
    display:block;
    margin: 20px auto;
}