
ion-header{
    padding: 0px 9px 2px 6px;
    background:var(--ion-color-primary);
}
.widget{
    text-align:left;
    h4{
        margin-top:0px;
    }
    h6{
        cursor:pointer;
    }
}

h3{
    display: inline-block;
    margin:0px;
}
.col-title{
    display: flex;
    align-items: center;

        ion-icon {
            font-size: 35px;
        }
        h3{
            margin-left:10px;
        }
    
}

.content-page ion-icon {
    font-size: 35px;
}
