<ion-header class="only-mobile">
    <h2>Empresa</h2>
</ion-header>
<ion-content>
    <div class="content empresa">
        <div class="sidebar only-web">
            <div class="widget-profile">
                <ion-img [src]="profileHeader" class="profile-img-header"></ion-img>
                <div class="profile-img-wrapper">
                    <ion-img [src]="profileImg" class="profile-img"></ion-img>
                </div>
                <div class="info">
                    <h4>Jesús Giménez Cortés</h4>
                    <h5>Departamento RRHH</h5>
                </div>
                <button class="sesion-close">Cerrar sesión</button>
            </div>
            <div class="contact-info">
                <h6>Email:</h6>
                <span>jgimenez@hiberus.com</span>
                <h6>Teléfono:</h6>
                <span>666999769</span>
                
            </div>
        </div>
        <div class="content-page content-list">
            <ion-list>
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-icon class="list-icon" name="information-circle"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <h2>Información de interés</h2>
                    </ion-label>
                    <ion-icon color="primary" mode="ios" name="arrow-forward"></ion-icon>
                </ion-item>
        
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-icon class="list-icon" name="clipboard"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <h2>Normativa</h2>
                    </ion-label>
                    <ion-icon color="primary" mode="ios" name="arrow-forward"></ion-icon>
                </ion-item>
        
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-icon class="list-icon" name="body"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <h2>Eventos</h2>
                    </ion-label>
                    <ion-icon color="primary" mode="ios" name="arrow-forward"></ion-icon>
                </ion-item>

                <ion-item>
                    <ion-avatar slot="start">
                        <ion-icon class="list-icon" name="trending-up"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <h2>Desarrollo profesional</h2>
                    </ion-label>
                    <ion-icon color="primary" mode="ios" name="arrow-forward"></ion-icon>
                </ion-item>

                <ion-item>
                    <ion-avatar slot="start">
                        <ion-icon class="list-icon" name="stats"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <h2>Encuestas</h2>
                    </ion-label>
                    <ion-icon color="primary" mode="ios" name="arrow-forward"></ion-icon>
                </ion-item>

                <ion-item>
                    <ion-avatar slot="start">
                        <ion-icon class="list-icon" name="git-network"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <h2>Foro</h2>
                    </ion-label>
                    <ion-icon color="primary" mode="ios" name="arrow-forward"></ion-icon>
                </ion-item>
        
                
            </ion-list>
        </div>
    </div>
</ion-content>