.content-home{
    flex:2;
    margin-right:5px;
    padding: 0px;
    align-self: baseline;
    margin-bottom:20px;
    margin-left:40px;


    ion-card{
        background:white;
        margin-bottom: 30px;
        margin-top: 0px;
        margin-left:0px;
        margin-right:0px;
        box-shadow: none;
    }
    ion-card-title{
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 14px;
    }
    ion-card-subtitle span{
            background-color:var(--bgcolor);
            padding:5px 5px;
            margin-right:5px;
            color:var(--ion-color-primary);
            font-size:0.8em;
            font-weight: bold;
    }
}
.content{
    padding-left: 9px;
}

@media (max-width: 750px) {
    .content-home{
        margin:0px 12.5px;
    }
    .content{
        padding-left:0px;
    }
}
