<ion-header class="only-mobile">
    <h2>Noticias</h2>
</ion-header>

<ion-content>
    <div class="content home">

        <div class="sidebar only-web">
            <div class="widget-profile">
                <ion-img [src]="profileHeader" class="profile-img-header"></ion-img>
                <div class="profile-img-wrapper">
                    <ion-img [src]="profileImg" class="profile-img"></ion-img>
                </div>
                <div class="info">
                    <h4>Jesús Giménez Cortés</h4>
                    <h5>Departamento RRHH</h5>
                </div>
                <button class="sesion-close">Cerrar sesión</button>
            </div>
            <div class="contact-info">
                <h6>Email:</h6>
                <span>jgimenez@hiberus.com</span>
                <h6>Teléfono:</h6>
                <span>666999769</span>
                
            </div>
        </div>

        <div class="content-home">
            <div class="card-wrapper">
                <ion-card>
                    <img src="../../assets/img/noticia.jpg" />
                    <ion-card-header>
                        <ion-card-title color="primary">Apertura de plataforma interna de comunicación, información y gestión</ion-card-title>
                        <ion-card-subtitle>
                            <span>#miempresa</span>
                            <span>#innovación</span>
                            <span>#tecnología</span>
                            <span>#desarrollo</span>
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        Estamos orgullosos de anunciar la apertura de nuestra nueva plataforma de gestión. Con ella, podremos tener una herramienta común donde...
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <img src="../../assets/img/noticia2.jpg" />
                    <ion-card-header>
                        <ion-card-title color="primary">Descubre cómo realizar los fichajes desde tu ordenador o móvil</ion-card-title>
                        <ion-card-subtitle>
                            <span>#miempresa</span>
                            <span>#innovación</span>
                            <span>#tecnología</span>
                            <span>#desarrollo</span>
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        Estamos orgullosos de anunciar la apertura de nuestra nueva plataforma de gestión. Con ella, podremos tener una herramienta común donde...
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <img src="../../assets/img/noticia.jpg" />
                    <ion-card-header>
                        <ion-card-title color="primary">Apertura de plataforma interna de comunicación, información y gestión</ion-card-title>
                        <ion-card-subtitle>
                            <span>#miempresa</span>
                            <span>#innovación</span>
                            <span>#tecnología</span>
                            <span>#desarrollo</span>
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        Estamos orgullosos de anunciar la apertura de nuestra nueva plataforma de gestión. Con ella, podremos tener una herramienta común donde...
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <img src="../../assets/img/noticia.jpg" />
                    <ion-card-header>
                        <ion-card-title color="primary">Apertura de plataforma interna de comunicación, información y gestión</ion-card-title>
                        <ion-card-subtitle>
                            <span>#miempresa</span>
                            <span>#innovación</span>
                            <span>#tecnología</span>
                            <span>#desarrollo</span>
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        Estamos orgullosos de anunciar la apertura de nuestra nueva plataforma de gestión. Con ella, podremos tener una herramienta común donde...
                    </ion-card-content>
                </ion-card>
                                
            </div>
        </div>

    </div>
</ion-content>
